<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Burger Boi</h1>
            <img src="/images/burger_banner.jpg" alt="burger banner">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Burgers Ready to Eat</h2>
            {{#if burger}} 
                {{#each burger}}
                    <p>{{id}},{{burger_name}},{{devoured}}</p>
                {{/each}} 
            {{else}}
                <p>None so far...</p>
            {{/if}}
        </div>
        <div class="col">
            <h2>Burgers Already Eaten</h2>
            <div id="eaten">None so far...</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Place your order here, even if it's not food!</h2>
            <textarea name="orderBurger" id="burgerInput" placeholder="Order Here"></textarea>
            <button type="submit" id="submitBurger" class="btn btn-success">Place Order!</button>
        </div>
    </div>
</div>