<div class="container-fluid">
    <div class="row">
        <div class="col" align="center">
            <h1>Burger Boi</h1>
            <img src="/images/burger_banner.jpg" alt="burger banner">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Burgers Ready to Eat</h2>
            <div id="toEat"></div>
        </div>
        <div class="col">
            <h2>Burgers Already Eaten</h2>
            <div id="eaten"></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Place your order here, even if it's not food!</h2>
            <form action="">
                <textarea name="orderBurger" id="burger"></textarea>
            </form>
        </div>
    </div>
</div>